.toolbar {
  display: flex;
  justify-content: space-between;
}

.blog-card,
.details-container,
.profile-card,
.new-blog-container {
  margin: 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-card {
  flex-direction: column;
}

.appBar,
.card-content,
.home-button {
  cursor: pointer;
}

.details-h4 {
  text-align: center;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
